@page "/"

<h1>Penny and Pete's Doggy Emporium</h1>

BARK BARK! Welcome to Penny and Pete's Doggy Emporium!
<br />
<p>
    These pages allow users to look at the overall loyalty points accumulated thus far by<br />
    all customers!
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
